.jogo{
  padding: 1rem;
}
.conteudo{
  max-width: 600px;
  margin: 0 auto;  
}
.h1{
  display: flex;
  justify-content:center;
}
.cartas{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
}
.cartas img {
  width:100%;
}
